<div class=" padd20">
    
        <div class=higlight> Dashboard</div>
      <div class="row">
         
      <div class="col-md-3">
       <a routerLink="/customers">
        <div class="card-counter primary">
          <i class="fa fa-code-fork"></i>
          
          <span class="count-name">Customer Admin
              no supplies 
           </span>
          <span class="count-numbers">12</span>
        </div></a> 
      </div>
    
      <div class="col-md-3">
      <a routerLink="/customers">
        <div class="card-counter danger">
          <i class="fa fa-ticket"></i>
          <span class="count-numbers">599</span>
          <span class="count-name">Customer Ordering
            </span>
        </div></a>
      </div>
    
      <div class="col-md-3">
        <a routerLink="/customers">
          <div class="card-counter success">
          <i class="fa fa-database"></i>
          <span class="count-numbers">6875</span>
          <span class="count-name">Customer Basic Access
            </span>
        </div></a>
      </div>
    
      <div class="col-md-3">
        <a routerLink="/customers">
          <div class="card-counter info">
          <i class="fa fa-users"></i>
          <span class="count-numbers">35</span>
          <span class="count-name">LAC Contract
              User
           </span>
        </div>
        </a>
      </div>
    </div>
    </div>
    